*{
    font-family: arimo;
}
body{
    /* display: block; */
    text-align: right;
    margin: 3rem;
}
select, option{
    border: none;
    border-bottom: 2px solid black;
}
iframe{
    width:80vw; 
    height:80vh;
    border: none;
    justify-content: center;
}
img{
    border-radius: 50%;
    display: inline;
    margin-left: 65vw;
}

.dot, p{
    display: block;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    padding:5vh;
    width: 25%;
    border: 10px solid blue;
    /* background-color: blue; */
    color: red;
}
.name{
    position:absolute;
    top:0;
}
.pagehead{
    color:green;
}
