* {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Arimo', sans-serif;
    cursor: default;
    font-size: 1rem;
    /* overflow-x: clip; */
}

html, body {
    height: 100%;
    /* font-size: 4vw; */
    
}

#menu {
    font-size: 3em;
    padding-right: .5em;
}

.fruitty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 100%;
    background-position: center center;
    background-size: cover;
    overflow-x: hidden;
}

h1 {
    font-size: 20rem;
    color: black;  
}
h2 {
    font-size: 3.3rem;
}
#nametag {
    padding: 1em;
    transition: 1s ease-in-out;
}

#nametag:hover {
    color:orange;
}

#down {
    font-size: 10rem;
}

#menu {
    transition: .5s; 
    padding: 20px;
    transition: 0.5s;
    
}

#menu:hover {
    color: orange;
    
}

#hidden-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: right;
    width: 15%;
    padding:1em;
    position: fixed;
    top:2.5em;
    text-align: right;
    transition: 0.5s;
    transform: translatex(500%);
    right:7em;       
    height: 4em;
    z-index: 10;
}

#hidden-nav.open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: right;
    width: 30%;
    padding:1rem;
    position: fixed;
    top:2.5rem;
    text-align: right;
    transition: 0.5s;
    transform: translatex(0%);
    right:3rem;       
    height: 4rem;
    z-index: 10; 
}

#hidden-nav a {
    color: black;
    display: block;
    text-decoration: none;
    font-size: 1.5em;
    transition: .5s;
}

#hidden-nav a:hover {
    color:orange;
}

.hidden {
    display: flex;
    color: white;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 3rem;
    width: 75vw;
    height: 100%;
    position:fixed;
    transition: .5s ease-in-out;
    top: 0;
    transform: translatex(-200%);
    z-index: 2;
}

.hidden.open {
    display: flex;
    color: white;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 3rem;
    width: 75vw;
    height: 100%;
    position: fixed;
    transition: .5s ;
    top: 0;
    transform: translatex(0%);
    z-index: 2;
}

.hidden.open p {
    font-size: 16px;
}

.hidden a {
    color: rgb(0, 70, 128);
    background-color: rgb(67, 105, 136);
    font-size: 2em;
    text-decoration: none;
    width: fit-content;
    cursor: pointer;
    

}

#links {
    display: flex;
    flex-direction: column;
    justify-content: left;


}

.fruitty:nth-child(1){
    background-attachment: fixed;
    z-index: 0;
}
   
.fruitty:nth-child(2){
    background-attachment:fixed;
    z-index: 0;
}

.fruitty:nth-child(3){
    background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip:text;
    height: 33%;
    z-index: 1;
    overflow-x: clip;
}

.fruitty:nth-child(4){
    height: 4em;
    z-index: 1;
}

.fruitty:nth-child(6){
    background-attachment: fixed;
    z-index: 0;
}

#footer-card{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(white,black);
    height: 25%;
    z-index: 0;
    border: .5rem solid black;
}

.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;        
    padding:0;
    height: 2em;
    z-index: 10;
}

.fixed-header{
    display: flex;
    top: 0;
}

.fixed-footer{
    bottom: 0;
}

.container{
    display:flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.bottom {
    justify-content: right;
}

nav a{
    color: #fff;
    text-decoration: none;
    padding: 1em;
    display: inline-block;
}

@media screen and (min-width: 480px){
    html {
        font-size: 5vw;
    }
    
}

@media screen and (min-width: 768px) {
    html {
        font-size: 5vw;
    }


}
@media screen and (min-width: 960px) {
    html {
        font-size: 4vw;
    }


}
@media screen and (min-width: 1200px){
    html {
        font-size: 4vw;
    }


}

/* Good Breakpoints
480 pixels // phones
768 pixels // tablets
960 pixels // small screens
1200 pixels // big screens
Target your styles against these
breakpoints (you can m */