html {
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    letter-spacing: .5px;
    font-size: 1rem;
    /* margin: 3rem; */
    background-color:#f9f9f9f9;
    cursor: crosshair;
    }
.main {
    display: flex;
    justify-content: center;
    margin: 2%;
    }
.name {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: left;
    }
.name, h1, h2, h3, a {
    text-transform: capitalize;
    cursor: crosshair;
    }
.name,h2 {
    padding: 0;
    margin: 0;
    }
#square {
    height: 2rem;
    width: 2rem;
    background: red;
    }
#square2 {
    height: 2rem;
    width: 2rem;
    background: #a1a1a1;
    }
.sidebar {
    display: flex;
    justify-content: right;
    }
#nav {
    position: fixed;
    top: 0;
    }
.nav-list {
    display: flex;
    align-content: space-between;
    position:;
    }
.nav-list-item, a{
    color: #a1a1a1;
    text-decoration: none;
    list-style: none;
    margin-block-start:1em;
    margin-block-end:1em;
    padding: 0 2px;
    }
.sector{
    height: 100vh;
    padding-top: 4em;
    }
#footer{
    display: flex;
    justify-items: center;
    align-items: center;
    position: sticky;
    bottom: 0;
    margin-bottom: 4em;
    height: 3em;
    width: auto;
    background:#a1a1a1;
    }
#bottomBar{
    margin-left:50%;
    background: red;
    position: relative;
    height: 3em;
    width: 70px;
    }